* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
    font-family: Arial, sans-serif;
}

.svgRoot {
    height: 24px;
    width: 24px;
    display: inline-block;
}

a { 
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

li {
    list-style: none;
}

.page-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* HEADER */

header {
    height: 60px;
    padding: 6px;
    display: flex;
    justify-content: flex-end;
    font-size: 1.3rem;
}

.header__nav {
    margin: auto 0;
}

.header__nav ul{
    display: flex;
}

.navLink{
    margin-right: 15px;
}

.navLink a {
    color:rgba(0,0,0,0.87);
}

.header__apps-signIn {
    display: flex;
    align-items: center;
}

#linkApps {
    padding: 12px;
    display: flex;
    align-items: center;
}

.header__apps-signIn svg {
    fill: currentColor;
    color: #5f6368;
}

#linkSignIn {
    margin: auto 8px;
    margin-right: 12px;
    padding: 9px 23px;
    line-height: 16px;
    border: 1px solid transparent;
    border-radius: 4px;
    min-width: 96px;
    text-align: center;
    letter-spacing: 0.25px;
    cursor: pointer;
    font-size: 1.4rem;
    color: white;
    background-color: #1a73e8;
}

#linkSignIn:hover {
    text-decoration: none;
}

.hide-for-desktop{
    display: none;
}

/* MAIN */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    max-height: 290px;
    min-height: 92px;
    height: calc(100vh - 560px);
}

.main__logo img{
    margin-top: auto;
    width: 272px;
}


/* MAIN INPUT */
.main__center {
    padding: 26px 20px 20px 20px;
}

.main__input {
    display: flex;
    width: 80vw;
    max-width: 584px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    padding: 5px 8px 0 14px;
    height: 46px;
}

.main__input:hover {
    box-shadow: 0 1px 6px 0 #20212447;
}

.main__input-svgGlass {
    margin-top: -5px;
    margin-right: 13px;
    width: 23px;
    height: 20px;
}

.main__input-svgGlass svg {
    width: 100%;
    height: 100%;
    margin: 12px 0 9px 0;
    fill: currentColor;
    color: #9aa0a6;
}

.main__input input {
    outline: none;
    border: 0;
    flex: 100%;
    height: 34px;
    font-size: 16px;
}

.main__input-svgMic {
    display: flex;
    align-items: center;
    margin: 0 8px;
    padding-bottom: 5px;
}

/* MAIN BUTTONS */

.main__buttons {
    display: flex;
    justify-content: center;
    padding-top: 18px;
}

.main__buttons button {
    font-size: 1.4rem;
    margin: 11px 4px;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    padding: 0 16px;
    height: 36px;
    min-width: 54px;
    background-color: #f8f9fa;
    color: #3c4043;
    cursor: pointer;
}

/* MAIN LANGAGUE */

.main__change-language {
    font-size: 1.3rem;
}

.main__change-language {
    padding: 0 3px;
}

/* FOOTER */

footer {
    position: absolute;
    bottom: 0;
    background-color:#f2f2f2;
    color: rgba(0,0,0, 0.54);
}

.footer__region {
    font-size: 1.5rem;
    width: 100vw;
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
}

.footer__links {
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    flex-wrap: wrap;
}

.footer__links a {
    color: rgba(0,0,0, 0.64);
}

.footer__links-info ul {
    display: flex;
}

.footer__links-settings ul {
    display: flex;
}

.footer-li {
    padding: 15px;
}


@media (max-width: 460px){

    body {
        font-size: 1.2rem;
    }

    .hide-for-mobile{
        display: none;
    }

    header {
        justify-content: space-between;
        font-size: inherit;
    }

    .header__nav-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header__menu-mobile {
       padding: 20px;
       width: 65%;
       height: 100vh;
       font-size: 1.4rem;
       position: fixed;
       left: -100%;
       display: flex;
       flex-direction: column;
       color: #3c4043;
       background-color: white;
       z-index: 2;
       transition: left 1s;
    }

   .header__menu-mobile--open {
       left: 0;
   }

    .header__menu-mobile a, .header__menu-mobile a:visited{
       color: #3c4043;
    }

    .header--open {
        padding: 0 8px 0 0;
    }

   .overlay--open {
        position: absolute;
        display: initial;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0,0,0,0.5);
        z-index: 1;
   }

   .menu-mobile-image {
       margin-bottom: 15px;
   }

   .menu-mobile-image img {
       width: 50%;
       height: auto;
   }

   .menu-mobile-item {
       display: flex;
       align-items: center;
   }

   .menu-mobile-item > img {
       width: 25px;
       margin-right: 8px;
   }

   .menu-mobile-item{
       margin-bottom: 10px;
   }

   .menu-mobile-list-divisor {
       width: 100%;
       height: 1px;
       background-color: #dadce0;
       margin-bottom: 10px;
   }

    .nav__hamburguer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 20px 0 12px;
        cursor: pointer;
    }

    .nav__hamburguer > span{
        width: 26px;
        height: 2px;
        background-color: black;
    }

    .nav__hamburguer span:not(:last-child){
        margin-bottom: 3px;
    }

    .nav-mobile ul {
        display: flex;
    }

    .nav-mobile ul li {
        font-weight: bold;
        margin-right: 20px;
    }

    .nav-mobile ul li a, .nav-mobile ul li a:hover, .nav-mobile ul li a:visited {
        color: black;
    }

    #linkApps {
        padding-left: 0;
        padding-right: 1px;
    }

    #linkSignIn {
        padding-left: 8px;
        padding-right: 8px;
    }

    main {
        height: calc(100vh - 147px);
        margin-bottom: auto;
    }

    .main__center {
        padding: 26px 10px 26px 10px;
    }

    .main__logo {
        max-height: 100px;
    }

    .main__logo img {
        width: 43%;
    }

    .main__input {
        width: 90vw;
    }
    
    footer {
        position: initial;
    }

    .footer__region {
        font-size: 1.4rem;
        padding: 5px 10px;
    }

    .footer__links {
        justify-content: center;
        font-size: 1.3rem;
    }

    .footer-mobile {
        display: flex;
        flex-direction: column;
        padding: 10px 0;
    }

    .footer-top {
        margin-bottom: 10px;
    }

    .footer-top ul {
        display: flex;
        justify-content: center;
    }

    .footer-top ul li:not(:last-child) {
        margin-right: 20px;
    }


    .footer-bottom ul {
        display: flex;
        justify-content: center;
    }

    .footer-bottom ul li:not(:last-child) {
        margin-right: 10px;
    }
}